# Build
build/
dist/
target/
*.class
*.jar
*.pyc
*.o

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Dependencies
node_modules/
venv/
env/

# Commitizen virtual environment (no trackeable)
.githooks/.tools/.commitizen-venv/

# Documentation
site/
